$primary-color: white;

body {
  background: $primary-color;
  font-family: "Montserrat", sans-serif;
}
div.jumbotron {
  position: relative;
  overflow: hidden;
  background-color: black;
  border-radius: 0;
  height: 100vh;
}
div.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity: 0.7;
}
div.jumbotron .container {
  z-index: 2;
  position: absolute;
  bottom: 8%;
}
nav {
  transition: background-color 0.6s;
}
nav .row div:nth-child(1),
nav .row div:nth-child(2),
nav .row div:nth-child(3) {
  opacity: 0.5;
  transition: opacity 0.6s;
}
nav .row div:nth-child(1):hover {
  opacity: 0.9;
  transition: opacity 0.6s;
  cursor: pointer;
}
nav .row div:nth-child(2):hover {
  opacity: 0.9;
  transition: opacity 0.6s;
}
nav .row div:nth-child(3):hover {
  opacity: 0.9;
  transition: opacity 0.6s;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  nav .row div:nth-child(1),
  nav .row div:nth-child(3) {
    display: none;
  }
}
